@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --amarillo: #ffce3a;
    --amarillo-dark: #ffce3a90;
    --azul: #007bff;
    --azul-filtro: invert(32%) sepia(100%) saturate(6986%) hue-rotate(202deg) brightness(110%) contrast(102%);
    --azul-dark: #007bff90;
    --gris: #e8e8e8;
    --sombra: 0 0 2em 0.3em rgba(0, 0, 0, 0.2);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    font-family: 'Inter', arial, sans serif;
}

.main-content {
    //*width:1170px;*//
    margin: auto;
}


h1,
h2,
h3,
h4,
h5 {
    line-height: 0.8em;
    letter-spacing: -0.05em;
    font-weight: 600;
}

button {
    font-family: 'Inter';
    display:flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
}

h1 {
    font-size: 150px;
}

h2 {
    font-size: 72px;
}

h3 {
    font-size: 50px;
}

p {
    font-size: 15px;
    line-height: 1.2em;
    padding: 0;
    margin: 0;

}

li {
    list-style: none;
}

.btn {
    border-radius: 10rem;
    border: none;
    display:flex;
    gap:0.5em;
    width: fit-content;

}

.btn.blue {
    background: var(--azul);
}

.btn.blue:hover {
    background: var(--azul-dark);

}

.btn.blue a {
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:0.5em;
}

.btn.yellow {
    background-color: var(--amarillo);
}

.btn.yellow:hover {
    background-color: var(--amarillo-dark);
}

.btn.yellow a {
    color: black;
     display:flex;
    align-items: center;
    justify-content: center;
    gap:0.5em;
}

a:hover {
    text-decoration: none;
    

}

.bloc .btn a {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5em;
}


ol li::marker {
    color: var(--azul);
    font-weight: 600;
}

ol ul {
    list-style: disc;

}





header {
    background-color: white;
    padding: 30 0;
}

header .menu {
    font-weight: 300;
    font-size: 17px;
}

header .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}


header .social-list {
    display: flex;
    justify-content: space-between;
}

.contact .social-list {
    justify-content: center;
    align-items: center;
    width: 100%;
}


footer {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2rem auto;
    bottom: 0;

}

#close-button {
    display: none;
}



section {
    padding: 1rem;
    display: block;
    margin: 0;
}

.tag {
    display: flex;
    border-style: solid;
    border-width: 1.5px;
    margin: 0.2rem 0;
    padding: 0.2rem 0.5rem;
    border-radius: 3rem;
    font-size: 15px;
    align-items: center;
    gap: 0.3rem;
    width: fit-content;
    height: fit-content;

}


p.tag-header {
    margin-left: 0.7rem;
    margin-bottom: 0.7rem;
}


/*header*/

header {
    width: 15em;
    height: 100%;
    position: fixed;
    background-color: white;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}



header .navigation {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 3rem;
}

header .menu {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 1rem;
}

header .banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
header .banner a{
    padding:0;
    margin-bottom: 2em;
}
header .banner img{
    width:8em;
    filter: var(--azul-filtro);
}
header .navbar-link {
    border: 0;
    background: white;
    border-radius: 5rem;
    padding: 0.8rem 1rem;
    margin-bottom: 1rem;
    color: black;
}

header .navbar-link:hover {

    opacity:0.5;
    text-decoration: none;
}

header .navbar-link.active {
    font-weight: 600;
    color: var(--azul);
}

ul.social-list {
    right: 0;
    margin: 1rem;
    padding: 0;
    display: block;
    
    border-radius: 1em;
    align-items: center;
}

.social-item a {
    margin: 0.3rem;
    color: black;
    font-size: 1.5rem;
}

.social-item a:hover {
    color: var(--azul);
}

.social-image{
    width:1em;
    padding-bottom: 10px;
    filter: brightness(0);
}
.social-image:hover{
    filter: var(--azul-filtro); 
}


.content {
    margin-left:15em;
    right:0;
    overflow-x: hidden;
}


/*intro*/
section .intro {
    align-items: center;
    justify-content: center;
    text-align: center;

}

.intro-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5rem;
    margin: auto;
    margin-bottom: 5em;
    align-items: flex-start;
    padding: 5em;
}

.intro-content .text {
    text-align: left;
    margin-right: 0;
    margin-top: 5em;
    margin-bottom: 5em;
    display: flex;
    flex-direction: column;
    gap: 1em;


}

.intro-content .text.esq {
    width: 30%;
}

.intro-content .text.dret {
    width: 70%;
}

.intro-content li {
    list-style: disc;
}



/*ipad*/
.ipad-content .profile {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

.ipad-content .profile img {
    width: 10vw;
    height: auto;
    border-radius: 10rem;
}



.ipad-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
    width: 50%;
}


.ipad-content .ipad-image img {
    width: 80%;
    display: flex;
    align-items: center;
    margin: auto;
}

.ipad-content .ipad-illustrations {
    position: absolute;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5%;
}



::-webkit-scrollbar {
    width: 0.5em;

}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 30px;
}






/*projects*/
.projects h2 {
    margin-top: 4vh;
    margin-bottom: 0.5em;
}

.projects .nav-link.active {
    background: var(--azul);
    border-radius: 3rem;
}

.project-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
    justify-content: center;

}

.project-box .item {
    position: relative;
    margin: 0;
    border-radius: 20px;
    height: auto;
    aspect-ratio: 4/3;
    overflow: hidden;
    text-align: center;
    align-items: stretch;
    background-size: auto 100%;
    background-position: center;
    transition: all 0.5s ease;
}

.project-box .item img {
    width: 100%;
}

.gallery {

    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    grid-gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding-right: 0.5em;
    margin: auto;
    padding-inline-start:0;



}


.gallery img {
    display: block;
    width: 100%;
    border-radius: 20px;
    height: auto;

}
.gallery img:hover{
   opacity: 0.6;
    transition: all 0.2s ease;
}

.digital .gallery img {
    aspect-ratio: 1/1;
    object-fit: cover;
}



.projects .overlay {
    opacity: 0;
    transition: 1s;
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    background-size: auto 100%;
    backdrop-filter: blur(2px);
    background-color: rgba(30, 30, 45, 0.4);
    color: black;
    border-radius: 1.5rem;
    width: 100%;
    height: 100%;
}

.project-box .item:hover {
    background-size: auto 110%;
    transition: all 0.5s ease;
}

.projects.illustrations .item:hover {
    background-size: auto 110%;
    transition: all 0.5s ease;
}

.project-box:hover .overlay {
    opacity: 1;
    transition: all 0.5s ease;
    text-decoration: none;
}

.projects.illustrations .project-box .overlay {
    backdrop-filter: none;
}

.projects .text {
    color: white;
    margin: 1rem;
    width: inherit;
    display: block;
    justify-content: flex-start;
}

.projects .text h3 {
    margin: 0.3rem;
    text-align: left;
    margin-bottom: 1rem;
}
.projects.comms li{
    list-style: decimal;
}

.tags-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: left;
    gap: 0.5em;
    margin-top:0.7em;
}


/*project open*/
.project-open .description {
    margin: 10rem 0;
    display: flex;
    gap: 2rem;
}


.project-open h2 {
    width: 40%;
}

.project-open .project-info {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width:60%;

}

.project-tags {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.project-open .project-tag {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.project-tag.s {
    align-items: flex-end;
    width: 40%;
}

.project-open .icon-program {
    width: 2em;
    height: 2em;
    height: auto;
    border-radius: 15%;
}

.project-open .icons-programs {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: flex-end;

}

.icon-gallery {
    display:inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    width:fit-content;

}

.icon-gallery .icon-program {
    width: 4em;
    border-radius: 15%;

}

.icon-gallery .soft {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;

}

.icon-gallery p {
    font-size: 11px;
    text-align: center;
}

.intro .bloc {
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

/*project open container*/
.project-container {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.project-image-full {
    width: 100%;


}

.project-container img {
    margin: 2rem auto;
    object-fit: cover;
    border-radius: 10px;


}

.project-container h3 {
    margin: 2rem auto;
    padding-left: 5%;
}

.project-container p {
    width: 50%;
    margin: auto 0;
    padding: auto;
    padding-left: 5%;
    height: auto;

}

.project-two-images {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    align-content: center;
    justify-content: center;
    gap: 1%;

}

.project-two-images img {
    width: 49%;
    height: auto;

    align-items: center;
}

.project-three-images {
    display: flex;
    width: 100%;
    height: auto;

}

.project-three-images img {
    width: 33%;
    height: auto;
    align-items: center;


}

.project-open .project-text-image {
    justify-content: center;
    display: flex;
    justify-content: space-between;
}

.project-open .text-side {
    display: block;
    margin: auto;
    padding: auto;
    margin-right: 10%;
    justify-content: center;
    width: fit-content;
}

.project-open .project-text-image.one img {
    width: 60%;
    border-radius: 2rem;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.project-one-image {
    width: 100%;
    height: auto;
    align-content: center;
    justify-content: center;
    margin: 2rem;
    border-radius: 2rem;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
}



.project-open .project-tag p {

    padding: 0.2rem 0.5rem;
}
.project-open .tag {
    border-width: 1px;
    font-weight: 400;
    margin:0;
    

}

.carousel-project {
    width: 100%;
    margin: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    margin: 2rem 0.2rem;
}

.carousel-slide {
    display: flex;

    transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
    width: 30vw;
    height: auto;
    margin: 0;
}






/*commissions*/
.choose-comm {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.comm-types {
    display: flex;
    flex-direction:column;
    gap: 1rem;
    
}


.calculate {
    position: fixed;

}

.comm-type {
    width: 100%;
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: flex-start;
}

.comm-info {
    display: flex;
    width: 100%;
    max-width: 50em;
    gap: 2em;
    padding: 2em;
    border-radius: 1em;
    border: 1px solid var(--gris);
    align-items: center;
    height: 100%;

}

.comm-type .slider {
    position: relative;
    display: flex;
}

.slider img {
    width: 100%;
    height:100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    
}

.slider .arrow {
    position: absolute;
    align-items: center;
    justify-content: center;
    top:50%;
    transform: translate(-50% -50%);
    gap:0;
}

.slider .prev {
    left: 0;
}

.slider .next {
    right: 0;

}

.mySlides{
   display:none;
}


.comm-portada button {
    margin: 1em;
    padding: 0.1em 0.65em;
    color: black;
    border-radius: 5em;
    background-color: grey;
    color: white;
    border: none;
    font-size: 1.5em;
    display: flex;
    cursor: pointer;
    position: absolute;
}

.comm-portada {
    width: 20em;
    height: 20em;
    display:flex;
    position:relative;
    aspect-ratio: 1/1;
    object-fit: cover;
    

}


.cursor {
    cursor: pointer;
}

.comm-portada .row {
   
    
    display: flex;
     position:absolute;
    width:100%;
    justify-content: center;
    bottom:0;
    margin: 0 0 0.5em 0;
    flex-wrap: nowrap;
    gap:0.5em;
   

}
.slider img{
    
border-radius: 1em;
}
.comm-portada .row:after {

    content: "";
    display: flex;
    clear: both;

    height: fit-content;
    
}

.comm-portada .column {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 3em;
    height: fit-content;
    
}

/* Add a transparency effect for thumnbail images */
.comm-portada .demo {
    opacity: 1;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    
    border-radius: 1em;
     box-shadow: var(--sombra);

}

.comm-portada .active,
.demo:hover {
    opacity: 1;
    border: 1px solid;
    
}




.comm-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    height:20em;
}



.include {
   display:block;
    gap:0.5em;
     margin:0;
}

.include-list {
display: flex;
    flex-direction: column;
    gap:0.5em;
    overflow-y: scroll;
}

.include-list ul {
    padding-inline-start: 0;
}


.comm-text .unable {
    opacity: 0.5;
    opacity: 0.5;
}

.comm-tags {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.comm-tags .tag {
    justify-content: center;
    align-items: center;
    margin-right: 0.5em;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    width: 100%;
}

.formulario input {
    width: 100%;

}

.formulario label {
    display: flex;
    gap: 0.5em;
    cursor: pointer;
    margin: 0;
}

.formulario label input {
    width: 1em;

}

.form-text {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0.5em;
    justify-content: space-between;
}

.finalPrice {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: flex-end;
    width: 100%;
    right: 0;
    
    justify-content: space-between;
}

.finalPrice .price {
    flex-shrink: 0;
    width:fit-content;
    display:flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    text-align: end;
}
.finalPrice h4{
}
.finalPrice .price h5 {
    
    background-color:var(--yellow);
    padding:0.5em;
    border-radius: 10em;
    
    width: 100%;
    text-align: end;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: flex-end;
}

#contador {
    font-size: 25px;
    font-weight: 600;
}

.dropdown {
    border-radius: 2em;
    border: 1px solid var(--gris);
    padding: 0.4em;
    width: 100%;
    justify-content: space-between;
}

.calc-price {
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: flex-start;
    width:100%;
    max-width: 60em;
}


.calc-fields {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
    border-radius: 1em;
    border: 1px solid var(--gris);
    align-items: center;
    height: fit-content;
    width:70%;
}
.calc-info{
    display:flex;
    flex-direction: column;
    gap:0.5rem;
    width:30%;
}

/*Terms and conditions*/
.terms li{
    list-style:decimal;
    margin-bottom:0.8em;
}





/*contact*/


.contact .content-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    margin-bottom: 2em;

}

.content-contact ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    width: 50%;
    margin: 0;
    padding: 0;
    gap: 1rem;
}

.contact .text-contact {
    background-blend-mode: darken;
    padding: 1rem;
    border-radius: 2rem;
}

.contact p {
    width: 100%;
}

#toggle-button {
    display: none;
    position: fixed;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 30px;
    z-index: 1;
    background: none;
    left: 0;
}




.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .8);
    z-index: 2;
    opacity: 0;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lightbox.active {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    pointer-events: auto;
}

.lightbox button {
    width: 3em;
    height: 3em;
    margin: 2em;
    color: black;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 5em;
    background-color: grey;
    color: white;
    border: none;
    font-size: 2vh;

    cursor: pointer;
    position: absolute;
}

.lightbox .cerrar {
    right: 0;
    top: 0;

}

.lightbox .prev {
    left: 0;
}

.lightbox .next {
    right: 0;
}

.lightbox .cerrar:hover,.arrow:hover{
    color: black;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    
    background-color: white;

}

.lightbox .grande {
    max-width: 90vw;
    max-height: 90vh;
    background: lightblue;

    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: white;
    box-shadow: var(--sombra);

}

.slide-left-enter {
    transform: translateX(100%);
    opacity: 0;
}

.slide-left-enter-active {
    transform: translateX(0);
    opacity: 1;
}

.slide-left-exit {
    transform: translateX(0);
    opacity: 1;
}

.slide-left-exit-active {
    transform: translateX(-100%);
    opacity: 0;
}

/* Animación para deslizar a la derecha (imagen anterior) */
.slide-right-enter {
    transform: translateX(-100%);
    opacity: 0;
}

.slide-right-enter-active {
    transform: translateX(0);
    opacity: 1;
}

.slide-right-exit {
    transform: translateX(0);
    opacity: 1;
}

.slide-right-exit-active {
    transform: translateX(100%);
    opacity: 0;
}

.ver {
    display: none;
}

.hor {
    display: flex;
}
.scroll-top{
    position:fixed;
    display:flex;
    align-items: center;
    gap:0.2em;
    bottom:0;
    right:0;
    font-size: 1.5em;
    background: white;
    padding:0.5em;
    margin:1em;
    border-radius: 5em;
    box-shadow: var(--sombra);
     transition: all 0.4s ease;
}
.text-scroll{
    display:flex;
    color:black;
    transition: all 0.4s ease;
}
.scroll-top:hover{
    background: var(--azul);
     transition: all 0.4s ease;
    color:white;
    .text-scroll{
        color:white;
    }
}



@media (max-width:1100px){
    .project-open .description{
        flex-direction: column;
        margin: 3rem 0;
    }
    .project-open h2{
        width:100%;
    }
    .project-open .project-info {
    width:100%;

}
    .calc-price {
        width: 100%;
        flex-direction: column;
    }
    .calc-fields{
        width:100%;
    }
    .calc-info{
        width:100%;
    }
    .intro-content{
        gap:2em;
        padding:2em;
    }
    .icon-gallery {
    grid-template-columns: repeat(3, 1fr);

}

}

@media (max-width: 768px) {
    h2 {
        font-size: 50px;
    }

    h3 {
        font-size: 20px;
    }

    .ver {
        display: flex;
    }

    .hor {
        display: none;
    }

    header {

        left: -100%;
        /* Asegura que el header esté fuera de la pantalla */
        transition: left 0.5s ease;
        z-index: 10;
        width: 70%;
        height: 100%;
        justify-content: center;
        align-content: center;


    }

    #close-button {
        display: flex;
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        color: black;
        font-size: 24px;
        cursor: pointer;
    }

    #toggle-button {

        display: block;
    }

    header.visible {
        left: 0;


        /* Cuando se añada esta clase, el header se deslizará al centro */
    }

    .content {
        margin: 0;
    }

    .project-gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.5rem;
    }

    .project-box .item {
        aspect-ratio: 1/1;
    }

    .project-open h2 {
        width: auto;
    }

    

    .project-open .project-info {
        width: 100%;
        margin-right: auto;
    }

    .project-open .project-tags {
        flex-direction: column;
        gap: 1rem;
    }

    .project-tag.s {
        align-items: flex-start;
        width: 100%;
    }

    .project-container p {
        width: 100%;

    }

    section {
        padding-top: 2rem;
    }

    table {
        width: 100%;
    }

    .intro-content {
        flex-direction: column;
        padding: 0;
    }

    .intro-content .text.esq,
    .intro-content .text.dret {
        width: 100%;
        margin-bottom: 0;
    }

    .ipad-content {
        width: 100%;
    }

    .ipad-content .ipad-image img {
        width: 100%;
    }

    .contact .content-contact {
        flex-direction: column;

    }

    .ipad-content .profile img {
        width: 30vw;
    }

    .ipad-content .profile h4 {
        font-size: 14px;
    }

    .ipad-content .profile {
        gap: 0.5rem;
    }

    .gallery {

        grid-template-columns: repeat(1, 1fr);
    }
    .icon-gallery {
   
    grid-template-columns: repeat(4, 1fr);

}
    


    .project-three-images,
    .project-two-images {
        flex-direction: column;
        gap: 2em;
    }

    .project-three-images img,
    .project-two-images img {
        width: 100%;
        margin: 0;
    }

    .choose-comm {
        flex-direction: column
    }
    .comm-info {
        padding: 0.8em;
        gap: 0.5em;
        flex-direction: column;
    }

    .slider img {
        width: 100%;
        height: 100%;
    }

    .comm-portada button {
        margin: 0.2em;
    }

    .comm-portada .row {
        width: 100%;
    }

    .comm-text h4,
    h5 {
        margin: 0;
    }

    .comm-text {
        height: 19em;
    }

    
    .text-scroll{
    display:none;
}
}
